<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSUserActivityTypes</key>
	<array>
		<string>LockToolIntent</string>
		<string>PayToolntIntent</string>
		<string>PayToolsIntent</string>
		<string>PeopleWordIntent</string>
		<string>RSSReaderIntent</string>
	</array>
	<key>ip-api.com</key>
	<dict>
		<key>NSExceptionAllowsInsecureHTTPLoads</key>
		<true/>
		<key>NSIncludesSubdomains</key>
		<true/>
	</dict>
</dict>
</plist>
